<li>
  <div class="book-item" data-id="<%= book.id %>" data-title="<%= book.title%>"> <%= book.title %> - <%= book.author %> - (<%= book.genre%>) </div>
  <button class="btn btn-outline-primary " id="edit">Edit</button>
  <button class="btn btn-outline-danger " id="delete">Delete</button>
</li>